body {
    background-color:blanchedalmond;
}

#quote-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#quote {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    border: 1px solid black;
    min-height: 20rem;
    margin-top: 2rem;
}

#button-wrapper {
    display: block;
    margin: 2rem auto;
    width: 20%;
}

button {
    color: #ffffff;
}